body{
	background-color: #eceeef;
	font-size: 16px;
	font:#666;
	padding: 0;
	margin:0;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial;
}
nav{
	width: 100%;
	height:60px;
	background-color: #fff;
	padding: 0;
}
nav img{
	padding:10px;
}
h2{
	padding-left:20px;
}
h4{
	padding-left:20px;
}
h5{
	text-transform: none;
}
.mast{
	background-color: #fff;
}
.wrapper{	
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.container{
	width: 940px;
	padding: 10px;
	border: 1px solid rgba(0,0,0,.125);
	margin-left: auto;
	margin-right: auto;
}
#module-table{
	width:100%;
}
.module{
	height: 40px;
	padding: 10px;
	margin-bottom: 15px;
}
.module-title{
	width:470px; 
	float:left;
	padding-left:10px;
	color:#666;
}
.select{
	width: 190px;
	float: right;
}
.disclaimer{
	padding:20px;
}
.btn{	
	width: 200px;
	cursor: pointer;
}
.faq-btn{
	color:#fff !important; 
}
.completed{
	cursor:default !important;
}
.jumbotron {
    padding: 2rem 2rem;
}
.jumbotron-lower{
	background-color: #f7f8f9;
}
.mb-4, .my-4 {
    margin-bottom: 0.5rem !important;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
.search{
	width: 50%;
	float: left;
	margin-bottom:10px;
	margin-top:15px;
}

.search-btn{
	clear:both;
}


.year{
	width:75px !important;
	margin-bottom:15px;
}
.add-me{
	width:110px !important;
}
.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}
.modal-header {
    display: -ms-flexbox;
    display: block;
    }
 .modal-body-text{
 	display: none;
 }
 .modal-ok{
 	width:100%;
 }
 .modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

.support-hero {
    height: 440px;
    overflow: hidden;
}
.lead{
	margin-bottom:15px;
}
.search-box input{
	height:35px;
	font-size: 15px;
	width:400px;
	float:left;
	padding-left:10px;
	color:#333;
}
.search-box select{
	width:400px;
	font-size: 15px;
	color:#333;
	padding-left:10px;
	height:35px;
	margin-bottom:15px;
}

td{
	font-size: 18px;
}
[colspan] {
    text-align: left;
    font-weight: 600;
}

.jumbotron p{
	margin-bottom:10px;
}

.jumbotron li{
	margin-left:25px;
}